{{#if model.noContent}}
  <div class="empty-state">
    <span class="empty-state-title">{{model.emptyStateTitle}}</span>
    <div class="empty-state-body">
      <p>{{model.emptyStateBody}}</p>
    </div>
  </div>
{{/if}}
{{user-stream stream=model}}
